.container {
    width: 90%;

}

body {
    background-color: #F9F7F3;
 }
 footer{
 	height: 70px;
 	background-color: #F9F7F3 !important;
 	position: fixed;
 	bottom: 0px;
 	color:black !important;
 	width: 100%;
 }

 h1{
 	font-family: 'Lora', serif;
 	font-size: 15px;
 	margin: 10px;
 	float: right;
 	margin-right: -25px;
 }
 p{
 	font-family: 'Lora', serif;
 	font-size: 15px;
 	margin: 10px;
 	float: left;
 	margin-left: -50px;
 }
#icon{
	height: 15px;
	width:15px;
	border-radius: 50%;
	margin-left: 70px;
	margin-bottom: -10px;
}

#c{
	float: right;
}
#l2{
	margin-left: 75px;
	margin-top: 90px;
}
li{
	font-size: 14px;
}
.modal{
	background-color: #F9F7F3;
}
.vertical{
height: 400px;
width: 300px;
}
.horizontal{
height: 300px;
width: 400px;
}
.row{
	margin-bottom: 200px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 

.vertical{
height: 200px;
width: 100px;
}
.horizontal{
height: 100px;
width: 200px;
}
.row{
	margin-bottom: 100px;
}
#l2{
	margin-left: 25px;
	margin-top: 40px;
}
#d{
	margin-left: 200px;
}
#icon{
	margin-left: -10px !important;
	margin-top: 10px;
}
h1{
	float: left;
	bottom: 0;
	margin-left: -30px;
}
p{
	float: right;
	bottom: 0;
}
}